# Object files
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe
*.out
*.orig
*.class
*.pyc

# Debug files
*.dSYM/
*.su
